{% extends 'blog/main.html' %} {% block content %}
<article class="media content-section">
  <img
    class="rounded-circle article-img"
    src="{{post.author.profile.image.url}}" />
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="{% url 'user-page' post.author.username%}">{{ post.author }}</a>
      <small class="text-muted">{{ post.date_posted|date:"F j, Y"}}</small>
      {% if post.author == request.user %}
      <a
        href="{% url 'update-post' post.id %}"
        class="btn btn-secondary btn-sm mt-1 mb-1 ml-2"
        >Edit</a
      >
      <a
        href="{% url 'post-delete' post.id %}"
        class="btn btn-danger btn-sm mt-1 mb-1"
        >Delete</a
      >
      {% endif %}
    </div>

    <h2>{{ post.title }}</h2>
    <p class="article-content">{{ post.content }}</p>
  </div>
</article>
{% endblock content %}
